.button {
    display: inline-flex;
    height: 4.2rem;
    justify-content: center;
    align-items: center;
    color: $white;
    background: none;
    padding: 1rem 1.5rem;
    margin: 0;
    border: 1px solid $white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    transition: all 0.2s ease-in;

    &--small {
      font-size: 1.4rem;
      padding: 1rem 1.5rem;
      line-height: 1;
      height: 3.7rem;
    }

    &:disabled {
      width: 34rem;
    }

    &:not(:disabled) {
      cursor: pointer;
    }

    &:hover,
    &:active,
    &.active {
      @media (min-width: $tablet) {

        &:not(:disabled) {
          color: $black;
          background-color: $turq;
          border-color: $turq;
        }

      }
    }

    @media (max-width: $tablet) {
      width: 278px;
      height: 60px;
      font-size: 16px;

      &:disabled {
        width: 340px;
        max-width: 100%;
      }


    }
}
