.content {
  padding: 6.1rem 0 12rem;

  @media (max-width: $mobile) {
    padding: 5.5rem 0 5rem;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60rem;
    flex-shrink: 0;

    @media (max-width: $tablet) {
      width: 100%;
    }

    @media (max-width: $mobile) {
      gap: 1.4rem;
    }
  }

  &__item {
    @media (max-width: $tablet) {
      width: calc(50% - 2rem);
      height: 18rem;
    }

    @media (max-width: $mobile) {
      height: 16.4rem;
      width: calc(50% - 0.7rem);
    }

    button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: none;
      border: 1px solid $turq;
      padding: 1.4rem 1.8rem 1.7rem 1.6rem;
      color: $white;
      text-align: left;
      width: 26rem;
      height: 25.7rem;

      &:hover {
        box-shadow: 0px 0px 23.7px 0px $turq;
      }

      @media (max-width: $tablet) {
        width: 100%;
        height: 100%;
      }

      @media (max-width: $mobile) {
        padding: 1rem;
        padding: 1.1rem 2rem 1rem 1.2rem;
      }
    }
  }

  &__item-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.1;
    margin: 0;
    font-weight: 400;
    font-family: $bower;

    @media (max-width: $mobile) {
      font-size: 1.3rem;
      line-height: 1.1;
    }
  }

  &__item-text {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 500;
    margin: 0;

    @media (max-width: $mobile) {
      font-size: 1.2rem;
      line-height: 1.3;
    }
  }

  &__wrapper {
    display: flex;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      padding-top: 5rem;
    }
  }

  &__inner-text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;

    p {
      margin: 0 0 2rem;
    }

    @media (max-width: $tablet) {
      font-size: 2rem;
    }

    @media (max-width: $mobile) {
      font-size: 1.2rem;
      line-height: 1.2;

      p {
        margin: 0 0 1rem;
      }
    }
  }

  &__images {
    position: relative;
    padding-bottom: 46%;

    @media (max-width: $tablet) {
      margin: 0 0 4rem;
    }

    @media (max-width: $mobile) {
      padding-bottom: 78%;
      margin: 0 0 8rem;
    }
  }

  &__inner-image {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &.active {
      opacity: 1;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    @media (max-width: $mobile) {
      height: 100%;

      img {
        height: 100%;
      }
    }
  }

  &__touch-icon {
    display: none;

    @media(max-width: $tablet) {
      display: block;
      margin: 0 0 1.6rem;
    }

    @media(max-width: $mobile) {
      width: 3.4rem;
      height: 3.4rem;
    }
  }
}
