.news {
  padding: 3.6rem 0 26.3rem;

  @media(max-width: $tablet) {
    padding: 3.6rem  0 5rem;
  }

  @media (max-width: $mobile) {
    padding: 6.8rem 0 7.3rem;
  }

  padding: 10rem 0 10rem;

  .swiper-container {
    overflow: visible;

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column-reverse;
      gap: 2.9rem;
    }
  }

  .swiper-nav {
    margin: 0 0 4rem;
  }

  &__title {
    margin: 0;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.2;
    max-width: 44.5rem;

    @media (max-width: $mobile) {
      margin-top: 2.8rem;
      align-self: flex-end;
      font-size: 1.2rem;
      line-height: 1.2;
      width: 48%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 6rem;

    @media (max-width: $mobile) {
      flex-direction: column;
      margin: 0 0 6.5rem;
    }
  }

  &__slide {
    border: 1px solid $turq;
    width: 36rem;
    padding: 1.7rem;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__slide-title {
    font-family: $bower;
    font-size: 1.8rem;
    line-height: 1.1;
    margin: 0 0 1.2rem;

    @media (max-width: $mobile) {
      font-size: 1.3rem;
      margin: 0 0 1.1rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin: 0 0 1.5rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @media (max-width: $mobile) {
      font-size: 1.2rem;
      height: 15.9rem;
      margin: 0 0 1.8rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.2;
    margin: 0 0 2.2rem;

    @media (max-width: $mobile) {
      font-size: 1.2rem;
      margin: 0 0 1.6rem;
    }
  }
}
