.about-page-hero-container {
   position: relative;
   width: 100%;
   height: 100%; 
   overflow: hidden;
}

.about-page-hero-video-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1; 
}

.about-page-hero-video-wrapper video {
   height: 100%;
   width: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}


.about-page-hero {

   &__main-title {
      margin-top: 20rem;

      @media (max-width: $mobile) {
         margin-top: 9.8rem;
      }
   }

   &__header {
      display: flex;
      flex-direction: row;
      gap: 6.4rem;
      padding-top: 3.5rem;
      padding-bottom: 18.5rem;

      @media (max-width: $tablet) {
         flex-direction: column;
      }

      @media (max-width: $mobile) {
         padding-top: 0;
         padding-bottom: 8rem;
      }
   }

   &__header-desc-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2.3rem;
      max-width: 53.7rem;

      @media (max-width: $tablet) {
         max-width: 100%;
      }

      @media (max-width: $mobile) {
         gap: 1.3rem;
      }
   }

   &__header-desc {
      color: $white;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: $mobile) {
         font-size: 1.2rem;
      }
   }

   &__header-achievements {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3.5rem;

      @media (max-width: $mobile) {
         gap: 1.5rem;
      }
   }

   &__header-achievements-top {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      height: 6.5rem;

      @media (max-width: $mobile) {
         gap: 1.5rem;
         height: 4.9rem;      
      }
   }

   &__header-achievements-bottom {
      height: 5rem;
   }

   &__header-achievements-item {
      width: 100%;
      height: 100%;
      padding: 0 1.8rem;
      border: 1px solid $turq;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: $mobile) {
         padding: 0 1.5rem;
      
      }
   }

   &__title {
      font-family: $bower;
      font-size: 1.8rem ;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.1;
      margin: 0;

      @media (max-width: $mobile) {
         font-size: 1.3rem;
      }
   }
}

.about-page-section {
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 9rem;
      padding-top: 21.3rem;
      padding-bottom: 22.8rem;

      @media (max-width: $mobile) {
         gap: 8.2rem;
         padding-top: 9.7rem;
         padding-bottom: 17rem;
      }
   }

   &__item {
      border: 1px solid $turq;
      padding: 3.6rem 3.6rem 3.5rem 3.9rem;

      @media (max-width: $mobile) {
         padding: 1.8rem 1.6rem;
      }
   }

   &__item-wrapper {
      display: flex;
      flex-direction: row;
      gap: 4rem;

      @media (max-width: $tablet) {
         flex-direction: column;
         gap: 4.2rem;
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      gap: 2.3rem;
      max-width: 82.5rem;


      @media (max-width: $mobile) {
         gap: 1.4rem
      }
   }

   &__image-wrapper {
      width: 100%;
      max-width: 62.5rem;

      @media (max-width: $tablet) {
         max-width: 100%;    
  
      }

      @media (max-width: $mobile) {
         height: 19.5rem;    
         aspect-ratio: 62/39;  
      }

      &--small {
         max-width: 32.5rem;

         @media (max-width: $tablet) {
            max-width: 100%;  
    
         }
   
         @media (max-width: $mobile) {
            height: 19.5rem;  
            aspect-ratio: 62/39;    
         }
      }
   }

   &__image-wrapper img {

      @media (max-width: $tablet) {
         width: 100%;
      }

      @media (max-width: $mobile) {
         object-fit: cover;
         height: 100%;
      }
   }

   &__large-title {
      margin: 0;

      &--turq {
         color: $turq;
      }

      @media (max-width: $mobile) {
         font-size: 2.5rem;
      }
   }

   &__item-desc {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 120%; 
      max-width: 37.8rem;

      @media (max-width: $tablet) {
         max-width: 100%;
      }

      @media (max-width: $mobile) {
         font-size: 1.2rem;
      }
   }


   &__clients-slider {
      margin-top: 4rem;
   }

   &__title {
      font-family: $bower;
      font-size: 1.8rem ;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.1;
      margin: 0;

      @media (max-width: $mobile) {
         font-size: 1.3rem ;
      }
   }

   &__team-wrapper {
      margin-top: 5rem;
      margin-bottom: 2rem;

      @media (max-width: $mobile) {
         margin-bottom: 2.7rem;
         margin-bottom: 1.7rem;

      }
   }

   &__team-header {
      margin-bottom: 3.2rem;

      @media (max-width: $mobile) {
         margin-bottom: 2.7rem;
      }
   }

   .teams-slider {
      display: flex;

      @media (max-width: $tablet) {
         flex-direction: column;
         gap: 2.4rem;
      }
   }

   .js-teams-slider-container {
      margin-left: 5.1rem;

      @media (max-width: $tablet) {
         width: 100%;
         margin: 0;
      }
   }

   .team-slide {
      height: 19rem;
      padding: 1.6rem 2.4rem 1.7rem 1.7rem;
      border: 1px solid $turq;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: $mobile) {
         height: 12.2rem;
         padding: 1.6rem 2.4rem 1.7rem 1.7rem;
      }
   }
}