.services-page-container {

   .services-page {

      &__title {
         margin: 0;
      }
   
      &__header {
         display: flex;
         justify-content: space-between;
         gap: 4rem;
         margin-top: 17rem;
         margin-bottom: 2.5rem;

   
         @media (max-width: $mobile) {
            flex-direction: column;
            gap: 3.5rem;
            margin-top: 9.8rem;
            margin-bottom: 6.5rem;
         }
      }
   
      &__dropdown {
         display: none;
   
         @media (max-width: $tablet) {
            display: block;
         }
      }
   
      &__nav-button {
         @media (max-width: $tablet) {
            &.services-active {
            display: none;
            }
         }
      }

      &__item-title {
         color: $turq;
         font-family: $bower;
         font-size: 1.8rem;
         font-style: normal;
         font-weight: 400;
         line-height: 110%; 
         margin: 0rem;

         @media (max-width: $mobile) {
            font-size: 13px;
         }
      }
   
      &__item-desc {
         color: $white;
         font-size: 1.4rem;
         font-weight: 400;
         line-height: 120%; 
         margin-top: 2.3rem;
         margin-bottom: 8.2rem; 

         @media (max-width: $mobile) {
            font-size: 1.2rem;
            margin-bottom: 7rem; 
         }
         

         &--standart {
            margin-bottom: 2.56rem; 

            @media (max-width: $mobile) {
               margin-top: 2rem;
               margin-bottom: 3.6rem;             
            }
         }
      }

      &__container {
         display: flex;
         flex-direction: column;
         gap: 12.5rem;

         @media (max-width: $mobile) {
            gap: 6.3rem;
         }

         &--exclusive {
             margin-bottom: 18rem;
         }

         &--standart {
            gap: 12rem;
            margin-top: 7.8rem;
            margin-bottom: 24rem;

            @media (max-width: $mobile) {
               margin-top: 5.5rem;
               margin-bottom: 19.2rem;
               gap: 6rem;
            }
         }
    
      }

      &__slider-container {
         margin-top: 3.3rem;

         @media (max-width: $mobile) {
            margin-top: 2.5rem;
         }
      }
   
      &__nav {
         display: flex;
         gap: 1.3rem;
         padding-top: 0.5rem;
   
         @media (max-width: $tablet) {
            display: none;
         }
      }
   
      &__item {
         display: none;
   
         @media (max-width: $tablet) {
            flex-wrap: wrap;
            gap: 1.4rem;
   
         }
   
         &.services-active {
            display: block;
         }
      }

      &__page-header {
         display: flex;
         justify-content: space-between;
      }

      &__page-title {
         font-family: $bower;
         font-size: 1.8rem;
         text-transform: uppercase;
         margin-bottom: 3.38rem;

         @media (max-width: $tablet) {
            flex-wrap: wrap;
            gap: 1.4rem;
   
         }

         &--standart {
            margin-bottom: 2rem; 

            @media (max-width: $mobile) {
               margin-bottom: 0;             
            }
         }

         @media (max-width: $mobile) {
           font-size: 1.3rem;
         }
       }

      &__page-block {
         display: block;
         color: $white;
         text-decoration: none;
         width: 26rem;
         height: 25.7rem;
         border: 1px solid $turq;
         padding: 1.5rem;
         overflow: hidden;
     
         @media (max-width: $mobile) {
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
         }
       }
     
       &__page-block-wrapper {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
         height: 100%;
         position: relative;
         overflow: hidden;
         padding: 1rem 1rem 1.1rem 1.2rem;
       }
     
       
     
       &__block-text {
         position: relative;
         z-index: 4;
         color: $white;
         font-size: 1.4rem;
         font-weight: 400;
         line-height: 1.2;
     
         @media (max-width: $mobile) {
           font-size: 1.2rem;
         }
       }
     
       &__page-block-image {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         overflow: hidden;
         object-fit: cover;
         object-position: 50% 50%;
     
       }
   
   
      &__footer {
         display: flex;
         justify-content: center;
         padding: 8.4rem 0 6.4rem;
   
         @media (max-width: $mobile) {
            padding: 4.4rem 0 12.4rem;
         }
      }


      // standart

      &__standart {
         margin-top: 5.31rem;
      }

      &__standart-wrapper {
         width: 100%;
         margin-top: 0;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin-top: 4.4rem;

         @media (max-width: $mobile) {
            margin-top: 2.7rem;         
         }
      }

      &__first-standart-slider {
         @media (max-width: $mobile) {
            position: relative;
         } 
      }

      &__standart-button {
         @media (max-width: $mobile) {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: -8.4rem;
         }
      }

      &__first-standart-title {
         @media (max-width: $mobile) {
            max-width: 20rem;
         }
      }



      // additional

      &__additional-container {
         margin-block: 8rem 19.5rem;
         display: flex;
         flex-direction: column;
         gap: 6.1rem;

         @media (max-width: $mobile) {
            margin-block: 4.5rem 20rem; 
            gap: 6.8rem;
         }
      }

      &__additional-item {
         display: block;
         color: $white;
         text-decoration: none;
         width: 100%;
         height: 39.3rem;
         border: 1px solid $turq;
         padding: 1.6rem;
         overflow: hidden;

         @media (max-width: $tablet) {
            height: 55rem;
            padding: 1.4rem;
         } 

         @media (max-width: $mobile) {
            height: 45.2rem;
            padding: 1.4rem;
         }
      }

      &__additional-item-wrapper {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 100%;
         height: 100%;
         position: relative;
         overflow: hidden;
         padding: 2.2rem 2.31rem 2.1rem 2.31rem;

         @media (max-width: $mobile) {
            padding: 1.5rem 1.4rem 1.4rem;
         }


         &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.5;
         }
      }

      &__additional-title {
         
         font-family: $bower;
         font-size: 1.8rem;
         line-height: 1.1;
         text-transform: uppercase;
         z-index: 4;
         overflow-wrap: break-word;
         margin: 0;
   
         @media (max-width: $mobile) {
            font-size: 1.3rem;
            line-height: 1.1;
         }
      }

      &__block-text-additional {
         max-width: 40rem;
      }

      &__additional-info {
         margin-top: 2.7rem;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         gap: 2.31rem;

         @media (max-width: $tablet) {
            margin-top: 1.8rem;
            flex-direction: column;
            gap: 2rem;
         }

         @media (max-width: $mobile) {
            margin-top: 1.5rem;
            gap: 1.05rem;
         }
      }

      &__additional-info-item {
         width: 100%;
         height: 8.7rem;
         border: 1px solid $turq;
         background: $black;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         padding: 0 1rem;
         z-index: 4;

         @media (max-width: $tablet) {
            height: 100%;
            padding: 1.5rem 1rem; 
         }

         @media (max-width: $mobile) {
            height: 100%;
            padding: .86rem 1rem; 
         }
      }

      &__additional-block-image {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         overflow: hidden;
         object-fit: cover;
         object-position: 50% 50%; 
      
         &.image--top {
            object-position: 50% 38%; 
         }

         &.image--top-extra {
            object-position: 50% 13%; 
         }
      
         
      }

   }

   .services__slider { 

      .swiper-nav {
         margin-bottom: 3.2rem;
      }
   }

   .standarts__slider {
      .swiper-nav {
         display: none; 
   
         @media (max-width: $tablet) {
            display: flex; 
         }
      }
   }


  
   
}
